.body{
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    background-color: mediumaquamarine ;
    background-size: cover;
    background-position: center;

}
figure[tooltip-dir="left"]:after {
    border-radius: 100%;
    display: block;
    background-color: green;
    left: auto;
    right: 110%;
  }
  
  figure[tooltip-dir="bottom"]:after,
  figure[tooltip-dir="top"]:after {
    left: 50%;
      right: auto;
  
    transform: translateX(-50%);
  }
  
  figure[tooltip-dir="bottom"]:after {
    bottom: auto;
    top: 110%;
  }
  
  figure[tooltip-dir="top"]:after {
    bottom: 110%;
    top: auto;
  }
  
  figure:hover:after {
    opacity: 1;
    visibility: visible;
  }
 